{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title%}My Profile{% endblock title%}
{% block content %}

    {% if flag %}
        <div class="alert alert-primary" role="alert">
            Your profile has been updated successfully. 
        </div>
    {% endif %}


    <div class="text-center">
        <img src="{{profile.avatar.url}}" alt="my-profile" class="avatar-big">
    </div>

    <form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock content %}